*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
#overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 2;
	top: 0;	
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	display: none;
}

#btnPrev{
	 background: none;
	 border:none;
	 float: right;
	 text-shadow:  1px 1px 5px black;
	 font-size: 30px;
	 color: white;
	 position: absolute;
	 top:50%;
	 left:6%;
	 z-index: 10;
}
#btnNext {
	 background: none;
	 border:none;
	 float: left;
	 text-shadow:  1px 1px 5px black;
	 font-size: 30px;
	 color: white;
	 position: absolute;
	 top:50%;
	 right: 6%;
	 z-index: 10;
}

#btnExit {
	background: none;
	 border:none;
	text-shadow:  1px 1px 5px black;
	 font-size: 20px;
	 color: white;
	 position: absolute;
	 top:36%;
	 right: 8%;
	 z-index:3;
}

#lbImage {
height:25%;
width: 70%;
position: absolute;
top: 40%;
right: 15%;
}


#overlay p {
	text-align: center;
	color: white;
	height: 10%;
	width:70%; 
	position: absolute;
  top: 65%;
  left: 15%;
}



body {
	background-color: rgba(0, 0, 0, );
	text-align: center;
}
.container {
	margin-top: 100px;
}

.headerArea {
	text-align: center;
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
	background-color: white;
	padding-top: 25px;
	padding-bottom: 25px;
}

#searchBox {
	outline: none;
	border-radius: 5px;
	width: 460px;
	height: 40px;
}

#searchBox:hover{
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);;
	transition: .5s;
}

#imageGallery {
box-shadow: 5px 5px 5px  5px black;
list-style: none;
padding: 0;
}

img{
	border-radius: 25px;
	display: block;
}

img:hover {
	box-shadow: 5px 5px 5px  5px black;
	transition: 1s;
}

li {
	text-align: center; 
	padding: 20px;
	display: inline-block;
}

 a {
text-decoration: none;
color: black;
 }


@media screen and (min-width: 480px) {

	#btnPrev{
	 font-size: 40px;
	 top:46%;
	
}
#btnNext {
   font-size: 40px;
	 top:46%;
	 }

	 #btnExit {
	 	font-size: 25px;
	 	right: 10%;
	 	top: 30%;
	 }

	 #lbImage  {
	 	height:30%; 
	 	top:35%;
	 }
	 #overlay p {

	 }

}

@media screen and (min-width: 768px) {

	.contanier {
	text-align: center;
}

	#imageGallery {
		max-width: 768px;
		margin: 0 auto;
	}

	#overlay p {
		top: 70%;
	}

#btnPrev{
	 font-size: 50px;
}
#btnNext {
   font-size: 50px;
	 }

	  #btnExit {
	  	font-size: 30px;
	 	right: 10%;
	 	top: 25%;
	 }

	 #lbImage  {
	 	height:40%; 
	 	top:30%;
	 }


}

@media screen and (min-width: 1024px) {


	#imageGallery {
		max-width: 980px
	}

	#overlay p {
		top: 75%;
		left: 14%;
	}

	#btnPrev{
	 font-size: 55px;
}
#btnNext {
   font-size: 55px;
	 }

	 	  #btnExit {
	  	font-size: 30px;
	 	right: 10%;
	 	top: 15%;
	 }

	 #lbImage  {
	 	height:55%; 
	 	top:20%;
	 }


a p {
	display: none;
}

}










